/*============= GOOGGLE FONT =============*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Public+Sans:wght@700&display=swap');
:root {
    /* Colors */
    --body-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --check-bg: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --d-dark-gray: hsl(233, 14%, 35%);
    --d-dark-gray-alt: hsl(237, 14%, 26%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .2s;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--body-bg);
    /* height: 100vh; */
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.grid {
    display: grid;
}

input {
    outline: none;
    background: transparent;
}

.flex {
    display: flex;
}

.container {
    /* height: auto; */
    width: 100%;
    position: absolute;
    margin-bottom: .5rem
}

.bg__desktop,
.bg__mobile {
    width: 100%;
}

.bg__desktop {
    max-height: 300px;
}

.bg__mobile {
    display: none;
}


/* container of the todo */

.todo__container {
    max-width: 450px;
    row-gap: 1.2rem;
    color: #fff;
    margin: 0 auto;
    margin-top: -10rem;
}


/* header class div contains Heading text and theme icon */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Heading title */

.title {
    letter-spacing: .83rem;
    font-size: 1.8rem;
}


/* Div containing the todo input */

.add__todo {
    align-items: center;
    background-color: var(--todo-bg);
    
}


/*=========== CUSTOM CHECKBOX START ===============*/


/* Customize the label (the container) */

.checkbox__container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 1.3rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    /* background-color: #eee; */
    border: 1px solid hsla(236, 33%, 92%, .2);
    border-radius: 5rem;
}

.checkmark:hover {
    border: 5px solid linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background: var(--check-bg);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*=========== CUSTOM CHECKBOX END ===============*/


/* Todo input */

#add-todo {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: .9rem;
    color: #fff;
}

#add-todo::placeholder {
    font-size: .8rem;
}


/* delete todo */

#delete-todo {
    position: absolute;
    right: 5%;
    width: 1rem;
    transition: .4s;
}

.todo,
.todo__footer,
.add__todo {
    padding: .8rem 1.5rem;
    column-gap: .5rem;
}


/* Todo li item */

.todo {
    display: inline-flex;
    font-size: .9rem;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    position: relative;
}

.todo p {
    margin-top: 3px;
}

.add__todo,
.todo__body,
.categories {
    border-radius: .3.78rem;
}


/* Container of the added todo lists */

.todo__body,
.categories {
    background-color: var(--todo-bg);
}

.categories {
    column-gap: .5rem;
    text-align: center;
    position: absolute;
}

.todo__footer,
.categories {
    font-size: .75rem;
}

.todo__footer-wrapper {
    position: relative;
    color: hsl(234, 11%, 52%);
}

.todo__footer {
    justify-content: space-between;
}

#items-left,
#completed {
    /* font-weight: bold; */
    color: var(--dark-gray);
}

.completed-todo {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

#items-left,
#all,
#delete-todo,
#active,
#completed,
#clear-completed {
    cursor: pointer;
}

.drag__info {
    text-align: center;
    color: hsl(234, 11%, 52%);
    font-size: .83rem;
    margin-bottom: 1rem;
}


/*=========== Media Queries ============*/


/* Bring down things a bit */

@media only screen and (min-width: 768px) {
    .bg__desktop {
        height: 190px;
    }
    .categories {
        left: 50%;
        transform: translateX(-69%);
        top: .88rem;
        margin-left: 2.5rem;
    }
    .categories p {
        margin: 0 .4rem;
    }
}

@media only screen and (max-width: 767px) {
    .bg__desktop {
        display: none;
    }
    .todo__container {
        margin-top: -8.99rem;
        /* position: relative; */
    }
    .bg__mobile {
        display: initial;
        height: 180px;
    }
    .todo__container {
        width: 85%;
    }
    .categories {
        top: 4rem;
        padding: .7rem;
        width: 100%;
        justify-content: center;
        font-size: .9rem;
    }
    .drag__info {
        position: relative;
        top: 4.5rem;
        font-size: .8rem;
        margin-bottom: 5rem;
    }
}       margin-bottom: 5rem;
    }
}