/*============= GOOGGLE FONT =============*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Public+Sans:wght@700&display=swap');
:root {
    /* Colors */
    --body-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --check-bg: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --d-dark-gray: hsl(233, 14%, 35%);
    --d-dark-gray-alt: hsl(237, 14%, 26%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--body-bg);
    height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    /* height: auto; */
    width: 100%;
    position: absolute;
    margin-bottom: .5rem
}

.bg__desktop,
.bg__mobile {
    width: 100%;
}

.bg__desktop {
    max-height: 300px;
}

.bg__mobile {
    display: none;
}


/* container of the todo */

.todo__container {
    max-width: 600px;
    row-gap: 2rem;
    color: #fff;
    margin: 0 auto;
    margin-top: -12rem;
}


/* header class div contains Heading text and theme icon */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Heading title */

.title {
    letter-spacing: .9rem;
}


/* Div containing the todo input */

.add__todo {
    align-items: center;
    background-color: var(--todo-bg);
}


/*=========== CUSTOM CHECKBOX START ===============*/


/* Customize the label (the container) */

.checkbox__container {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    /* background-color: #eee; */
    border: 1px solid hsla(236, 33%, 92%, .2);
    border-radius: 5rem;
}

.checkmark:hover {
    border: 5px solid linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background: var(--check-bg);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 7px;
    top: 3.5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*=========== CUSTOM CHECKBOX END ===============*/


/* Todo input */

#add-todo {
    width: 100%;
    outline: none;
    border: none;
    background: hsl(235, 24%, 19%);
    font-size: 1.2rem;
    color: #fff;
}

.todo,
.todo__footer,
.add__todo {
    padding: 1rem 1.5rem;
    column-gap: 1rem;
}


/* Todo li item */

.todo {
    display: flex;
    align-content: center;
    font-size: 1.3rem;
    border-bottom: 1px solid hsl(237, 14%, 26%);
}

.add__todo,
.todo__body {
    border-radius: .5rem;
}


/* Container of the added todo lists */

.todo__body {
    /* margin-top: -.5rem; */
    background-color: var(--todo-bg);
    overflow: hidden;
}

.categories {
    margin-left: 2.5rem;
    column-gap: .5rem;
}

.todo:first-child label:last-child {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.todo__footer {
    justify-content: space-between;
}

#items-left,
#completed {
    font-weight: bold;
    color: var(--dark-gray);
}

#items-left,
#all,
#active,
#completed,
#clear-completed {
    cursor: pointer;
}

.drag__info {
    text-align: center;
    color: hsl(234, 11%, 52%);
}


/*=========== Media Queries ============*/


/* Bring down things a bit */

@media only screen and (min-width: 768px) {
    .bg__desktop {
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .bg__desktop {
        display: none;
    }
    .bg__mobile {
        display: initial;
        height: 250px;
    }
    .todo__container {
        width: 85%;
        margin-top: -12rem;
        /* padding: 3.5rem 0; */
    }
    .categories {
        display: none;
    }
}